*.iml
.gradle
/local.properties

.idea/gradle.xml
.idea/Project.xml
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/caches
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/navEditor.xml
.idea/codeStyles
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/assetWizardSettings.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build
.idea
build-with-core-plugins/buildSrc/src/gradle-kotlin-dsl
